# Define the django app so it can be reused in:
# - django service
# - worker service
# - beat service
x-django-app: &django-app
  restart: unless-stopped
  image: mydockerregistry.com/my-app-backend:latest
  env_file:
    - ./.env
  volumes:
    - ./media:/app/backend/media


services:
  # Postgres service
  # Comment out if using an external Postgres server
  postgres:
    restart: unless-stopped
    image: postgres:16-bullseye
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgresdata:/var/lib/postgresql/data
      # Copy the provision_postgres.sql file to the container
      - ./provision_postgres.sql:/docker-entrypoint-initdb.d/provision_postgres.sql
    # Uncomment the following lines to expose the Postgres port
    # ports:
    #   - 5432:5432

  # Redis service
  # Comment out if using an external Redis server
  redis:
    restart: unless-stopped
    image: redis:7.2.0-alpine
    # Uncomment the following lines to expose the Redis port
    # ports:
    #   - 6379:6379

  django:
    <<: *django-app
    entrypoint: /app/backend/docker/entrypoint-django.sh
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8000/ht/startup-probe/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  worker:
    <<: *django-app
    entrypoint: /app/backend/docker/entrypoint-worker.sh
    depends_on:
      postgres:
        condition: service_started
      django:
        condition: service_healthy
      redis:
        condition: service_started

  beat:
    <<: *django-app
    entrypoint: /app/backend/docker/entrypoint-beat.sh
    depends_on:
      postgres:
        condition: service_started
      django:
        condition: service_healthy
      redis:
        condition: service_started